@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Login Page Rainbow Animation */
:root {
  --purple: rgb(232, 121, 249);
  --blue: rgb(96, 165, 250);
  --green: rgb(94, 234, 212);
  --animationtime: 45s;
}

body.login-page {
  overflow: hidden;
  background-color: #f8fafc; /* match gray-50 */
}

.rainbow {
  height: 100vh;
  width: 0;
  top: 0;
  position: absolute;
  transform: rotate(10deg);
  transform-origin: top right;
  z-index: 0;
}

.rainbow > div {
  height: 100vh;
  width: 0;
  top: 0;
  position: absolute;
  animation: slide linear infinite;
}

/* 
  Since standard CSS doesn't support SCSS loops, we unroll the 25 variations.
  The math for animation duration: $animationtime - $animationtime / $length / 2 * $i
  The math for delay: -($i / $length * $animationtime)
  length = 25
*/
.rainbow > div:nth-child(1) { box-shadow: -130px 0 80px 40px white, -50px 0 50px 25px var(--purple), 0 0 50px 25px var(--blue), 50px 0 50px 25px var(--green), 130px 0 80px 40px white; animation-duration: 44.1s; animation-delay: -1.8s; }
.rainbow > div:nth-child(2) { box-shadow: -130px 0 80px 40px white, -50px 0 50px 25px var(--purple), 0 0 50px 25px var(--green), 50px 0 50px 25px var(--blue), 130px 0 80px 40px white; animation-duration: 43.2s; animation-delay: -3.6s; }
.rainbow > div:nth-child(3) { box-shadow: -130px 0 80px 40px white, -50px 0 50px 25px var(--green), 0 0 50px 25px var(--purple), 50px 0 50px 25px var(--blue), 130px 0 80px 40px white; animation-duration: 42.3s; animation-delay: -5.4s; }
.rainbow > div:nth-child(4) { box-shadow: -130px 0 80px 40px white, -50px 0 50px 25px var(--green), 0 0 50px 25px var(--blue), 50px 0 50px 25px var(--purple), 130px 0 80px 40px white; animation-duration: 41.4s; animation-delay: -7.2s; }
.rainbow > div:nth-child(5) { box-shadow: -130px 0 80px 40px white, -50px 0 50px 25px var(--blue), 0 0 50px 25px var(--green), 50px 0 50px 25px var(--purple), 130px 0 80px 40px white; animation-duration: 40.5s; animation-delay: -9s; }
.rainbow > div:nth-child(6) { box-shadow: -130px 0 80px 40px white, -50px 0 50px 25px var(--blue), 0 0 50px 25px var(--purple), 50px 0 50px 25px var(--green), 130px 0 80px 40px white; animation-duration: 39.6s; animation-delay: -10.8s; }
.rainbow > div:nth-child(7) { box-shadow: -130px 0 80px 40px white, -50px 0 50px 25px var(--purple), 0 0 50px 25px var(--blue), 50px 0 50px 25px var(--green), 130px 0 80px 40px white; animation-duration: 38.7s; animation-delay: -12.6s; }
.rainbow > div:nth-child(8) { box-shadow: -130px 0 80px 40px white, -50px 0 50px 25px var(--purple), 0 0 50px 25px var(--green), 50px 0 50px 25px var(--blue), 130px 0 80px 40px white; animation-duration: 37.8s; animation-delay: -14.4s; }
.rainbow > div:nth-child(9) { box-shadow: -130px 0 80px 40px white, -50px 0 50px 25px var(--green), 0 0 50px 25px var(--purple), 50px 0 50px 25px var(--blue), 130px 0 80px 40px white; animation-duration: 36.9s; animation-delay: -16.2s; }
.rainbow > div:nth-child(10) { box-shadow: -130px 0 80px 40px white, -50px 0 50px 25px var(--green), 0 0 50px 25px var(--blue), 50px 0 50px 25px var(--purple), 130px 0 80px 40px white; animation-duration: 36s; animation-delay: -18s; }
.rainbow > div:nth-child(11) { box-shadow: -130px 0 80px 40px white, -50px 0 50px 25px var(--blue), 0 0 50px 25px var(--green), 50px 0 50px 25px var(--purple), 130px 0 80px 40px white; animation-duration: 35.1s; animation-delay: -19.8s; }
.rainbow > div:nth-child(12) { box-shadow: -130px 0 80px 40px white, -50px 0 50px 25px var(--blue), 0 0 50px 25px var(--purple), 50px 0 50px 25px var(--green), 130px 0 80px 40px white; animation-duration: 34.2s; animation-delay: -21.6s; }
.rainbow > div:nth-child(13) { box-shadow: -130px 0 80px 40px white, -50px 0 50px 25px var(--purple), 0 0 50px 25px var(--blue), 50px 0 50px 25px var(--green), 130px 0 80px 40px white; animation-duration: 33.3s; animation-delay: -23.4s; }
.rainbow > div:nth-child(14) { box-shadow: -130px 0 80px 40px white, -50px 0 50px 25px var(--purple), 0 0 50px 25px var(--green), 50px 0 50px 25px var(--blue), 130px 0 80px 40px white; animation-duration: 32.4s; animation-delay: -25.2s; }
.rainbow > div:nth-child(15) { box-shadow: -130px 0 80px 40px white, -50px 0 50px 25px var(--green), 0 0 50px 25px var(--purple), 50px 0 50px 25px var(--blue), 130px 0 80px 40px white; animation-duration: 31.5s; animation-delay: -27s; }
.rainbow > div:nth-child(16) { box-shadow: -130px 0 80px 40px white, -50px 0 50px 25px var(--green), 0 0 50px 25px var(--blue), 50px 0 50px 25px var(--purple), 130px 0 80px 40px white; animation-duration: 30.6s; animation-delay: -28.8s; }
.rainbow > div:nth-child(17) { box-shadow: -130px 0 80px 40px white, -50px 0 50px 25px var(--blue), 0 0 50px 25px var(--green), 50px 0 50px 25px var(--purple), 130px 0 80px 40px white; animation-duration: 29.7s; animation-delay: -30.6s; }
.rainbow > div:nth-child(18) { box-shadow: -130px 0 80px 40px white, -50px 0 50px 25px var(--blue), 0 0 50px 25px var(--purple), 50px 0 50px 25px var(--green), 130px 0 80px 40px white; animation-duration: 28.8s; animation-delay: -32.4s; }
.rainbow > div:nth-child(19) { box-shadow: -130px 0 80px 40px white, -50px 0 50px 25px var(--purple), 0 0 50px 25px var(--blue), 50px 0 50px 25px var(--green), 130px 0 80px 40px white; animation-duration: 27.9s; animation-delay: -34.2s; }
.rainbow > div:nth-child(20) { box-shadow: -130px 0 80px 40px white, -50px 0 50px 25px var(--purple), 0 0 50px 25px var(--green), 50px 0 50px 25px var(--blue), 130px 0 80px 40px white; animation-duration: 27s; animation-delay: -36s; }
.rainbow > div:nth-child(21) { box-shadow: -130px 0 80px 40px white, -50px 0 50px 25px var(--green), 0 0 50px 25px var(--purple), 50px 0 50px 25px var(--blue), 130px 0 80px 40px white; animation-duration: 26.1s; animation-delay: -37.8s; }
.rainbow > div:nth-child(22) { box-shadow: -130px 0 80px 40px white, -50px 0 50px 25px var(--green), 0 0 50px 25px var(--blue), 50px 0 50px 25px var(--purple), 130px 0 80px 40px white; animation-duration: 25.2s; animation-delay: -39.6s; }
.rainbow > div:nth-child(23) { box-shadow: -130px 0 80px 40px white, -50px 0 50px 25px var(--blue), 0 0 50px 25px var(--green), 50px 0 50px 25px var(--purple), 130px 0 80px 40px white; animation-duration: 24.3s; animation-delay: -41.4s; }
.rainbow > div:nth-child(24) { box-shadow: -130px 0 80px 40px white, -50px 0 50px 25px var(--blue), 0 0 50px 25px var(--purple), 50px 0 50px 25px var(--green), 130px 0 80px 40px white; animation-duration: 23.4s; animation-delay: -43.2s; }
.rainbow > div:nth-child(25) { box-shadow: -130px 0 80px 40px white, -50px 0 50px 25px var(--purple), 0 0 50px 25px var(--blue), 50px 0 50px 25px var(--green), 130px 0 80px 40px white; animation-duration: 22.5s; animation-delay: -45s; }

@keyframes slide {
  from { right: -25vw; }
  to { right: 125vw; }
}

.rainbow-h {
  box-shadow: 0 0 50vh 40vh white;
  width: 100vw;
  height: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 1;
}

.rainbow-v {
  box-shadow: 0 0 35vw 25vw white;
  width: 0;
  height: 100vh;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 1;
}
